@use '../../../styles/color-variables' as *;

p {
	text-transform: capitalize;
	letter-spacing: -0.5px;
	color: $subtitle-text-color;
	margin-bottom: 0.5rem;
}

li {
	list-style: none;
	margin-bottom: 0.1rem;
	gap: 1rem;
	padding: 0.75rem 0 0.75rem 0.3rem;
	font-size: 0.95rem;
	box-sizing: border-box;
	border: 1px solid transparent;

	&:hover {
		cursor: pointer;
		background: $border-color;
		border-radius: 10px;
		border-color: $border-color;
	}
}

.list-section {
	border-bottom: 1px solid $border-color;
	padding: 0.75rem 0.75rem 0 1.5rem;
}

ul {
	padding-left: 0;
}

.material-icons-outlined {
	font-size: 1.35rem;
}

.rotate {
	transform: rotate(90deg);
}
