@use '../../../styles/color-variables' as *;

p {
	text-transform: capitalize;
	letter-spacing: -0.5px;
	color: $subtitle-text-color;
	margin-bottom: 0.5rem;
}

li {
	list-style: none;
	margin-bottom: 1rem;
}

.list-section {
	border-bottom: 1px solid $border-color;
	padding: 1rem 0.75rem 0;
}

ul {
	padding-left: 1.5rem;
}
