:host {
	display: grid;
	grid-template-rows: 1fr;
	height: 100%;
	min-height: 0;
	overflow: hidden;
}

.steps {
	height: 100%;
	min-height: 0;
	overflow-y: auto;
	scroll-behavior: smooth;
}

p {
	font-size: 0.9rem;
	color: #d3d3d3;
	margin: 0.5rem;
}

.active {
	font-size: 1.1rem;
	color: #fff;
	font-weight: 600;
}

p:first-of-type {
	opacity: 0.5;
	font-style: italic;
}
