@let algorithm = activeAlgorithm();
<div class="flex-row space_between middle wrap">
	<div class="summary flex-column">
		<span>{{algorithm.name}}</span>
		<span class="description">{{algorithm.summary}}</span>
	</div>
	<div class="controls flex-row middle">
		<button class="flex-row middle btn">Generate Array</button>
		<button class="flex-row middle btn">
			<span class="material-icons-outlined"> first_page </span>
			<span>Step Back</span>
		</button>
		<span class="material-icons-outlined">play_arrow</span>
		<button class="flex-row middle btn">
			<span> Step Forward </span>
			<span class="material-icons-outlined"> last_page</span>
		</button>
		<button class="flex-row middle btn">
			<span>Skip to End</span>
			<span class="material-icons-outlined"> fast_forward </span>
		</button>

	</div>
	<div class="size-controls">
		<button>Forward</button>
		<button>Skip to End</button>
	</div>
</div>

<!-- TO DO -->
<!-- 1. Implement actual logic -->