.summary {
	width: 40%;
}

.description {
	font-size: 0.8rem;
	color: #d3d3d3;
	margin-top: 0.5rem;
	letter-spacing: 1px;
}

.controls {
	gap: 1rem;
}

@media screen and (max-width: 1600px) {
	.summary {
		width: 100%;
	}

	.wrap {
		gap: 1rem 0;
		padding: 0.1rem 0.25rem;
	}
}
