@use '../styles/color-variables' as *;

.title-row {
	height: 3.5rem;
}

.main {
	flex: 1;
	align-items: stretch;
}

.sidenav {
	width: 250px;
	flex-shrink: 0;
	border-radius: 0;
	padding: 0;
}

.content {
	flex: 1;
	background-color: $bg-carbon;
	gap: 1rem;
	padding: 2rem 2rem 1rem;
	min-width: 0;
}

.subtitle {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 900;
	letter-spacing: 2.5px;
	color: #a1a1a1;
}

.algorithm-title {
	font-size: 1.7rem;
	color: #f8f8f8;
	letter-spacing: 1.25px;
	font-family: sans-serif;
	margin-top: -0.75rem;
}

h3 {
	margin: 0.2rem 0.5rem 0.5rem;
}

.controls {
	min-height: 4rem;
}

.visualizer-row {
	display: flex;
	gap: 1rem;
	flex: 1;

	.graph {
		flex: 4;
		aspect-ratio: 21 / 9;
		width: 75%;
	}

	.algorithm-details {
		flex: 3;
	}
}

.data-log {
	display: flex;
	gap: 1rem;
	height: 11.3rem;
	box-sizing: border-box;
}

.execution-log {
	width: 60%;
	height: 90%;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: hidden;

	h3 {
		margin: 0.2rem 0.5rem 0.5rem;
	}

	app-execution-log {
		min-height: 0;
		height: 100%;

		overflow: hidden;
	}
}

.data-structure {
	width: 40%;
}

app-details {
	display: block;
	height: 100%;
}

img {
	width: 5.3rem;
	margin: 0 1.5rem;
}
