@use '../styles/color-variables' as *;

.title-row {
	height: 4.5rem;
}

.main {
	flex: 1;
	align-items: stretch;
}

.sidenav {
	width: 250px;
	border-radius: 0;
	padding: 0;
}

.content {
	flex: 1;
	background-color: $bg-carbon;
	gap: 1rem;
	padding: 2rem 2rem 1rem;
}

.execution-log {
	max-height: 11.5rem;
	overflow: auto;
	width: 60%;
}

.data-structure {
	width: 40%;
}

.data-log {
	gap: 1rem;
}

.algorithm-title {
	font-size: 1.7rem;
	color: #f8f8f8;
	letter-spacing: 1.25px;
	font-family: sans-serif;
	margin-top: -0.75rem;
}

.subtitle {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 900;
	letter-spacing: 2.5px;
	color: #a1a1a1;
}
